#searching-home {
    height: 25rem;
}

#how-works {
    background: rgb(245, 37, 100);
    background: linear-gradient(45deg, rgba(245, 37, 100, 1) 0%, rgba(5, 59, 192, 1) 50%, rgba(229, 38, 106, 1) 100%);
}

.info-card {
    text-align: justify;
}


.bi.bi-pen, .bi.bi-bullseye, .bi.bi-credit-card, .bi.bi-clipboard-check, .bi.bi-piggy-bank, .bi.bi-truck {
    font-size: 5rem;
    color: #053BC0;
}

.footer {
    background-color: #053BC0;
}

.btn.btn-primary.btn-circle {
    border-radius: 50%;
    color: #FFFFFF;
    background: #053BC0;
}

.tunido-title-footer {
    color: #F52564;
}

.app-badge {
    height: 50px;
}